body {
    margin: 0;
    position: relative;
    min-height: 95vh;
    padding-bottom: 46px;
    background-color: #add0d3;
}

.header,
.footer {
    background-color: #628486;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.heading {
    margin: 0;
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: "Times New Roaman", sans-serif;
}  

.footer .heading{
    font-size: 16px;
}

.list-container {
    width: 100%;
    text-align: center;
}

.list-ul,
.list-ol {
    width: 30%;
    margin: auto;
    color: #a0937f;
    font-weight: bold;
    font-size: 24px;
}

.list-ul {
    list-style: none;
}

a {
    color:#a0937f; /* Unvisited link  */
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}         
a:visited {color:#a0937f;} /* Visited link    */
a:hover {color:#a0937f;}   /* Mouse over link */
a:active {color:#a0937f;}  /* Selected link   */

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img {
    width: 300px;
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
}

#chicken-img {
    width: 365px;
}

.img-container {
    width: 100%;
    text-align: center;
}

.recipe-body {
    text-align: center;
}

.description {
    width: 50%;
    margin: 0 auto;
    color: #a0937f;
}